{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報の更新</title>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" />
</head>
<body>
    <h2>以下の情報で登録しますか？</h2>
    <form action="{% url 'webapp:M04' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>会員ID:</th>
                <td>{{ form.user_id.value }}</td>
            </tr>
            <tr>
                <th>パスワード:</th>
                <td>******</td>
            </tr>
            <tr>
                <th>お名前:</th>
                <td>{{ form.name.value }}</td>
            </tr>
            <tr>
                <th>ご住所:</th>
                <td>{{ form.address.value }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">登録確認</button>
                </td>
            </tr>
        </table> 
        {% for field in form %}
            <input type="hidden" name="{{ field.name }}" value="{{ filed.value }}">
        {% endfor %}
    </form>
    <p><a href="{% url 'webapp:S01' %}">商品検索</a>へ</p>
</body>
</html>