{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員登録</title>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" />
</head>
<body>
    <form action="{% url 'webapp:M03' %}" method="POST">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <th>{{ field.label }}</th>
                    <td>
                        {{ field }}
        
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}

                        {% if field.name == "password_check" %}
                            {% for error in form.non_field_errors %}
                                <p class="error">{{error}}</p>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="submit">登録確認</button>
                </td>
            </tr>
        </table>
    </form>
    <p><a href="{% url 'webapp:S01' %}">商品検索</a>へ</p>
</body>
</html>