{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報の更新</title>
    <link rel="stylesheet" type="text/css" href='{% static "webapp/css/style.css"}'>
</head>
<body>
    <form action="{% url 'webapp:M04' %}" method="POST">
        {% csrf_token %}
        <p>ID: {{ data.user_id }}</p>
        <p>名前: {{ data.name }}</p>
        <p>住所: {{ data.address }}</p>
    
        <input type="submit" value="登録確定">
    </form>
</body>
</html>