{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報の更新完了</title>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" />
</head>
<body>
    <h2>以下の会員情報で更新しました。</h2>
    <table>
        <tr>
            <th>会員ID:</th>
            <td>{{ user.user_id }}</td>
        </tr>
        <tr>
            <th>パスワード:</th>
            <td>表示なし</td>
        </tr>
        <tr>
            <th>お名前:</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>ご住所:</th>
            <td>{{ user.address }}</td>
        </tr>
    </table>
    <p><a href="{% url 'webapp:S01' %}">商品検索</a>へ</p>
</body>
</html>