<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品検索</title>
</head>
<body>
    <h2>商品の検索を行います。</h2>
    カテゴリ: 「すべて（選択式にする）」 キーワード: 「入力欄を作成する」「検索ボタン」<br>
    ほかのページへ遷移するボタン

    <form action="searchResult.html" method="get">
        
        <label>カテゴリ</label>
        <select name="category">
            <option value="" selected>すべて</option>
            <option value="hat">帽子</option>
            <option value="bag">鞄</option>
        </select>

        <label>キーワード:</label>
        <input type="text" name="keyword">

        <button type="submit">検索</button>
    </form>

</body>
</html>