{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>検索結果</title>
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" />
</head>
<body>

    <h2>キーワード "{{ keyword }}" カテゴリ "{{ category }}" の検索結果</h2>

    <table border="1">
        <tr>
            <th>商品名</th>
            <th>商品の色</th>
            <th>メーカー名</th>
            <th>価格</th>
        </tr>

        {% for product in products %}
        <tr>
            <td><a href="{% url 'webapp:S03' product.item_id %}">{{ product.name }}</a></td>
            <td>{{ product.color }}</td>
            <td>{{ product.manufacturer }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">該当する商品がありません</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <a href='{% url "webapp:S01" %}'>商品検索</a>へ

</body>
</html>